*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    position: fixed;
    background-color: #1b1b1b;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
}
nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
nav .menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}
.menu ul {
    display: inline-flex;
    list-style: none;
}
.menu ul li {
    margin-left: 7px;
}
.menu ul li:first-child {
    margin-left: 0;  
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.menu ul li a:hover {
    background-color: #fff;
    color: black;
}
.img {
    background: url('(63).jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    animation: changeBackground 10s infinite;
}
.img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.center {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
.center .title {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.center .sub-title {
    color: #fff;
    font-size: 47px;
    font-weight: 600;
    margin-top: 20px;
}
.center .btns {
    margin-top: 80px;
}
.center .btns button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
}
.center .btns button:first-child {
    background: none;
}
.center .btns button:first-child:hover {
    background: #fff;
    color: black;
}
@keyframes changeBackground {
    0% {
        background-image: url(\(63\).jpg);
    }
    33.33% {
        background-image: url(\(18\).jpg);
    }
    66.66% {
        background-image: url(\(29\).jpg);
    }
    100% {
        background-image: url(\(43\).jpg);
    }
}